h1{
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1;
    user-select: none;
    width: 400px;
    padding: 0;
    color: #485766
    float:right;

}


#add-button{
    float:right;
    top:-69px;
    position:relative;
}
#no-email-message{
    font-size: 30;
    visibility: hidden;
    width:714px;
    position: relative;
    left: 341px;
    top:100px;
    color: #485766
}

header{
    width: 738px;
    left: 341px;
    height: 53px;
    position: fixed;
    background-color: rgb(249,249,249)
}

#main-content{
    width:714px;
    position: relative;
    left: 341px;
    top:100px;
}



.email-container{
    width:714px;
    height: 165px;
    padding: none;
}


.delete-button{
    width: 15px;
    background-position: -1px -4px;
    margin-left: 1px;
    margin-right: 2px;
    margin-top: 2px;
    height: 22px;
    opacity: 0.8;
    background: url(src/trash.png) 0 0 no-repeat;
    float:left;
    position: relative;
    left:7px;
}

#myPopup{
    width: 1000px;
    min-height: 700px;
}

.ui-page {
    background: #2b2e31;
}
.ui-page-theme-a {
    background: white;
}
.ui-page-active{
    background: white;
}

.done-editing-button{
    width:513.61px;
    height:50px;
    background-color:red;
    color: white;
    font-size: 32;
    text-align: center;
}

.email-field{
    width:513.61px;
    height: 100px;
    margin: 5px;
    position: relative;
    left:-5px;
    color:rgb(115, 119, 122);
    overflow:hidden;
    outline: none;
}

.email-title {
    color:rgb(48, 57, 66);
    display: inline;
    font-size: 14px;
    margin: 0px;
    font-weight: 500px;
    width: 699px;
    white-space:nowrap;
    outline: none;
    overflow: hidden;
    max-width: 580.61px;
    height: 16px;
}

.email-title br{
    display: none;
}



.email-options{
    width: 133.39;
    height: 165px;
    float: left;
}

.enabled-text{

    position: absolute;
    font-weight: 400;
}

.enable-text{

    position: absolute;
}

.main-email-content{
    width: 580.61px;
    height: 165px;
    float: left;
}

.email-input{
    overflow: auto;
    min-height: 400px;
    max-height: 550px;
    outline: none;
    position: relative;
    top:20px;
    display: block;
}

.done-button{
    width: 1000px;
    height: 90px;
    background: red;
    position: absolute;
    bottom: 10px;
    display: block;
    color: white;
    text-align: center;
    font-size: 30;
}

.email-name-input{
    font-size: 22;
    font-weight: 400;
    outline: none;
}

.seperator{
    background-color: rgb(238,238,238);
    height: 1px;
    width: 900px;
    position: relative;
    top:10px;
}

.enable-checkbox{
    width:100px;
    float:left;
    height: 29px;
}

.enable-checkbox-text{
    width: 63;
    height: 15;
}

label{
    align-items: center;
    display: inline-flex;
    user-select: none;
    width: 84.19px;
    height: 29px;
}
